@page "/registration"
@inject EventService EventService

<EditForm Model="@Event" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="event-card">
        <h2>Event name:</h2>
        <InputText @bind-Value="Event.Name" placeholder="Event Name" />

        <p><strong>Description:</strong><br />
        <InputTextArea @bind-Value="Event.Description" placeholder="Event Description" /></p>

        <p><strong>Date:</strong> 
        <InputDate @bind-Value="Event.Date" /></p>

        <p><strong>Location:</strong> 
        <InputText @bind-Value="Event.Location" placeholder="Event Location" /></p>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@if (!string.IsNullOrEmpty(ConfirmationMessage))
{
    <div class="alert alert-success mt-3">
        @ConfirmationMessage
    </div>
}

@code{
    [SupplyParameterFromForm]
    private Event Event { get; set; } = new Event();

    private string ConfirmationMessage { get; set; }

    public async Task HandleSubmit()
    {
        await EventService.AddEventAsync(Event);
        ConfirmationMessage = "Event saved successfully";
        Event = new Event(); 
    }
}
