@page "/event-list"
@inject EventService EventService

<h2>Events</h2>
@if (Events.Count==0)
{
    <p>No events available.</p>
}
else
{
    <ul>
        @foreach (var ev in Events)
        {
            <li>
                <h3>@ev.Name</h3>
                <p><strong>Description:</strong> @ev.Description</p>
                <p><strong>Date:</strong> @ev.Date.ToShortDateString()</p>
                <p><strong>Location:</strong> @ev.Location</p>
            </li>
        }
    </ul>
}

@code{
    public List<Event> Events {get; set;} = new ();

    protected override async Task OnInitializedAsync()
    {
        Events = (await EventService.GetAllEventsAsync()).ToList();
    }
}